extends layout

block content
  section.about-page
    h1 ABOUT
      .about-box
        h2 Transformative journey where passion meets tradition, and every step tells a story. Together, let’s dance towards excellence!
      .about-box  
        p Sri Vari Padalu is a renowned dance school dedicated to the art of classical dance. Smt. Nalla Ramadevi is the dance instructor. We celebrate the rich traditions and cultural heritage of various dance forms, focusing on precision and expression. Our experienced instructors provide personalized guidance, ensuring that each student develops their unique style and technique. At Sri Vari Padalu, we offer classes for all ages and skill levels, fostering a love for dance in a supportive environment. Students will engage in rigorous training while also exploring the spiritual and storytelling aspects of dance. Our curriculum includes performance opportunities, workshops, and cultural events that enrich the learning experience. We believe in nurturing creativity and discipline, empowering students to express themselves through movement.
