extends layout

block content
  main
    section#classes
      h1 OUR CLASSES
      div.class-container
        div.class
          h2 Kuchipudi Classes
          p Our Kuchipudi classes are designed for students of all levels. Whether you're a beginner or looking to refine your skills, we have sessions tailored to your experience.
          ul 
            li Timings: Tuesday and Thursday, 5:00 PM - 6:30 PM
            li Instructor: Guru Lakshmi
          a.donate1(href='/query') Ask Query

        div.class
          h2 Bharatanatyam Classes
          p Dive into the beautiful art form of Bharatanatyam with our expert instructors. We offer a range of classes from beginner to advanced levels.
          ul
            li Timings: Monday and Wednesday, 4:00 PM - 5:30 PM
            li Instructor: Guru Meenakshi
          a.donate1(href='/query') Ask Query
