extends layout

block content
  section.contact-page
    h1 Contact Us
    p Feel free to get in touch with us for any queries regarding our classes, schedule, or registration.

    h2 Our Teachers
    .contact-info
      .teacher-info
        h3 Smt. Radha - Kuchipudi Instructor
        p Phone: +123456789
        p Email: radha@sreevaripadalu.com
        a.contact(href='/query') Ask Queries
      .teacher-info
        h3 Sri. Ravi - Bharatanatyam Instructor
        p Phone: +987654321
        p Email: ravi@sreevaripadalu.com
        a.contact(href='/query') Ask Queries

    h2 Class Location
    .class-location
      h3 Sree Vari Padalu Dance Academy
      p 123 Dance Street, City, State, Zip Code

        
