extends layout 

block content
      h1 Events at Sri Vari Padalu
      section#events
        div.event-box
          h2 Past Events
          p Click to view details and photos of past events.
          a.button2(href="/pastevents") View All Past Events
          
        div.event-box
          h2 Future Events
          p Stay tuned for our upcoming events.
          a.button2(href="/futureevents") View All Future Events
