extends layout

block content
   
  section.event-details
    h2 Event Details
    p Location: Hi-Tech City
    p Date: November 30, 2024
    p Description: A grand Kuchipudi and Bharatanatyam performance by our students was held at Hi-Tech.
    h1 We hope to see you there!
  

 


