extends layout 

link(rel="stylesheet", href="public/stylesheets/event.css")
block content 
  h1 Future Events
  section#events
    div.event-box1#event-f1
      a.button3(href="/future1") Shilparamam 
    
    div.event-box1#event-f2
      a.button3(href="/future2") Ravindra Bharathi

    div.event-box1#event-f3
      a.button3(href="/future3") Hi-tech City 
