extends layout

block content
  main 
    section#gallery
      h1 Image Gallery
      section.container
      .slide-wrapper
        .slider
          img(src="/images/dance1.jpg", alt="picture 1")
          img(src="/images/dance2.jpg", alt="picture 2")
        .slider-nav
          a(href="slide-1")
          a(href="slide-2")
        
block scripts
  script(src="/javascripts/slideshow.html")
