extends layout

link(rel="stylesheet", href="public/stylesheets/style.css")
block content
  .main-content
    h1 Welcome to Sri Vari Padalu Dance Academy
      h2 Start your journey of dance with us!
        h3 Follow us on instagram and google!
        a.donate(href="https://www.instagram.com/svp.danceacademy/") Instagram
        a.donate(href="https://www.google.com/search?sa=X&bih=707&hl=en-IN&biw=360&cs=1&sxsrf=ALiCzsYICQZjZPousdkrQi_3sOBLIwDjQg:1670741890002&q=Sri+Vari+Padalu+Bharathanatyam+and+Kuchipudi+dance+academy&ludocid=5341276365618155347&gsas=1&client=ms-android-samsung-rvo1&lsig=AB86z5VIy0862gIUefXejEVYxxW-&shem=lssle&kgs=e5fc48109cdf7040&shndl=-1&source=sh/x/kp/local/4&entrypoint=sh/x/kp/local") Google



