extends layout

link(rel="stylesheet", href="public/stylesheets/style.css")
block content
  .main-content
    h1 Welcome to Sri Vari Padalu Dance Academy
      h2 Start your journey of dance with us!
      a.donate(href="/signup") Sign Up/Register



