doctype html
html(lang="en")
  head
    title Sri Vari Padalu 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/stylesheets/style.css") 
    link(rel="stylesheet", href="/stylesheets/about.css")
    link(rel="stylesheet", href="/stylesheets/classes.css")
    link(rel="stylesheet", href="/stylesheets/contact.css")
    link(rel="stylesheet", href="/stylesheets/gallery.css")
    link(rel="stylesheet", href="/stylesheets/query.css")
    link(rel="scripts", href="/javascripts/slideshow.html")
  body
    header 
      div#hero-image 
      ul.nav
        li
          a(href='/') Home
        li
          a(href='/about') About
        li
          a(href='/gallery') Gallery
        li
          a(href='/classes') Classes
        li
          a(href='/contact') Contact
        li 
          a(href='/query') Ask Query

    block content



