extends layout 

link(rel="stylesheet", href="public/stylesheets/event.css")
block content 
  h1 Past Events
  section#events
    div.event-box1#event-p1
      a.button3(href="/past1") Uppal
    
    div.event-box1#event-p2
      a.button3(href="/past2") Stadium

    div.event-box1#event-p3
      a.button3(href="/past3") Hi-tech City 