extends layout

block content
    section.event-details
        h2 Event Details
        p Location: Stadium
        p Date: September 10, 2024
        p Description: A grand Kuchipudi and Bharatanatyam performance by our students was held at Stadium.
    section#events
        div.event-box1#event-p2
        div.event-box1#event-f1
        div.event-box1#event-f3

    


