extends layout

block content
   
  section.event-details
    h2 Event Details
    p Location: Hi-Tech City
    p Date: August 15, 2024
    p Description: A grand Kuchipudi and Bharatanatyam performance by our students was held at Hi-Tech City.
  section#events
    div.event-box1#event-p3
    div.event-box1#event-f2
    div.event-box1#event-f1

 


